@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

@tailwind base;

:root {
  --primary: #636078;
  --secondary: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .btn-control {
    @apply rounded-md border-2 p-1 text-lg font-semibold uppercase shadow-lg transition duration-300 ease-in-out hover:border-bluishPurple hover:text-bluishPurple hover:shadow-shadowAllSides hover:shadow-bluishPurple blueTheme:hover:border-blueTheme blueTheme:hover:text-blueTheme blueTheme:hover:shadow-blueTheme dark:hover:border-white dark:hover:text-white dark:hover:shadow-white
  }

  .btn-dropdown {
    @apply flex items-center justify-between rounded-md px-2 py-1 duration-200 ease-in hover:bg-bluishPurple-dark hover:text-white blueTheme:hover:bg-blueTheme-dark dark:hover:bg-darkTheme-grey
  }
}
